{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <script>
    //     function funct()
    //     {
    //         document.querySelector("#result").innerHTML = document.querySelector("#password").value;
    //         document.querySelector("#result2").innerHTML = document.querySelector("#password2").value;
    //     }
    // </script>

    <h1>Apology</h1>
    <div> <h3> {{message}} Go back to homepage.</h3>
    </div>
    <br>
    <br>
    <div>(Note that usernames cannot have a space or any special characters.
    Passwords must be at least 8 characters long, and have AT LEAST 1 lowercase letter, 1 uppercase letter, and 1 number.)
    </div>
    <div id="result">

    </div>
    <div id="result2">

    </div>

    <!--<div>-->
    <!--Testing - Hi {{ password3  }}!-->
    <!--</div>-->


{% endblock %}
